@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

button {
    cursor: pointer;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 8px 0;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 100%;
    height: 70px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-link {
    color: black;
    font-weight: 400px;
    font-size: 15px;
    line-height: 24px;

}

.header-tel {
    padding: 8px 16px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 5px;
    background: #00BAFC;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 97px 0;
}

.title {
    width: 470px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
}

.text {
    width: 465px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.button {
    border: none;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #00BAFC;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.services-title-1 {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.services-text-1 {
    width: 719px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.services-ul {
    margin: 0 auto;
    width: 900px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;

}


.services-li {
    background: #fff;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
    /* }
.button{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
display: flex;
padding: 8px 16px;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #00BAFC; */
}

.section-1_item {
    display: flex;
    align-items: center;

}


.section-1_item h4 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.section-1_item p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.section-1-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 719px;
    margin: 0 auto;
    text-align: center;
}

.section-1-title-2 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.section-1-text-2 {
    width: 493px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    padding: 56px 0;
    background-color: #000;
}

.footer-botton {
    display: flex;
    gap: 170px;
}


.footer-1-title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer-1-text {
    width: 320px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-right: 100px;
}

.footer-2-title {
    color: #FFF;
    padding-bottom: 16px;

}

.footer-2-list {
    color: #FFF;
}

.footer-2-item {
    padding-bottom: 8px;
    padding-right: 87px;
}
.footer-3-title{
    color: #FFF;
    padding-bottom: 16px;

}
.link{
    padding-bottom: 8px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img{
    margin-right: 8px;
    margin-bottom: 8px;
}